<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Lativ</h1></a>
      <input type="hidden" class="islogin" name="islogin" value="<%- islogin %>">
      <input type="hidden" class="ismanager" name="ismanager" value="<%- ismanager %>">
      <ul class="menu">
        <li><a href="/"><img src="/img/home.png" style="width:15px;">
          首頁</a></li>
        <li class="menuManage"><a href="/manage">
          <img src="/img/manage.png" style="width:15px;">新增商品</a></li> 
        <li class="menuLogin"><a href="/login" style="border-right: none;padding-right: 5px;">
          <img src="/img/login.png" style="width:15px;">登入</a>/
          <a href="/signup" style="border-right: none;padding-left: 5px;">註冊</a></li> 
        <li class="menuFavorite"><a href="/favorite">
          <img src="/img/favorite.png" style="width:15px;">我的最愛</a></li> 
        <li class="menuLogout"><a href="/logout" style="border-right: none;">
          <img src="/img/login.png" style="width:15px;">登出</a></li>
      </ul>    
    </div>
    <div class="clear"></div>
    <div class="content">
      <h2><%= title %></h2>
      <ul class="favoriteList">
        <% for(var i = 0; i < data.length; i++){ %>
          <% var date = new Date(data[i].date.toDate()) %>
          <% var y = date.getFullYear() + '/'; %>
          <% var m = date.getMonth() + '/'; %>
          <% var d = date.getDate(); %>
          <li>
            <a href="/detail?id=<%- data[i].id %>" class="favoriteLink">
              <img src="<%- data[i].image %>" style="width: 130px;">
            </a>
            <input type="hidden" class="id" name="id" value="<%- data[i].id %>">
            <img class="deleteFavorite" src="/img/delete2.png" style="width: 15px;">
            <p style="width: 120px;"><%- data[i].name %></p>
            <p>NT$<%- data[i].price %></p>
            <p class="favoriteDate"><%- y+m+d %></p>   
          </li>
        <% } %>
      </ul>
    </div>
    <div class="clear"></div>
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function() {
    console.log($(".islogin").val());
    if($(".islogin").val() == "true"){
      $(".menuLogin").hide();
      $(".menuFavorite").show();
      $(".menuLogout").show();
    }else{
      $(".menuLogout").hide();
      $(".menuFavorite").hide();
      $(".menuLogin").show();
    }
    if($(".ismanager").val() == "true"){
      $(".menuManage").show();
    }else{
      $(".menuManage").hide();
    }
  });

  $(".deleteFavorite").click(function (e) {
    var msg = "您確定要刪除嗎？"; 
    if (confirm(msg)==true){ 
      var id = $(this).closest("li").find(".id").val();
      var data = "id="+id;
      let xhr = new XMLHttpRequest();
      xhr.open("post","/deleteFavorite?"+data);
      xhr.send();

      xhr.onload = function(){
        var response = JSON.parse(xhr.responseText);
        if(response.result == 'success'){
          alert("刪除成功");
          window.location.reload();
        }else{
          alert("刪除失敗");
        }
      }
      return true; 
    }else{ 
      return false; 
    }
  });
</script>
