<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Lativ</h1></a>
      <ul class="menu">
        <li><a href="/"><img src="/img/home.png" style="width:15px;">
          首頁</a></li>
        <li><a href="/login"><img src="/img/login.png" style="width:15px;">
          會員登入</a></li>
        <li><a href="/manage"><img src="/img/manage.png" style="width:15px;">
          新增商品</a></li> 
        <li><a href="/favorite" style="border-right: none;"><img src="/img/favorite.png" style="width:15px;">
          我的最愛</a></li> 
      </ul>      
      <form action="/result" method="POST">
        <input type="text" placeholder="請輸入關鍵字" name="keyword">
        <button type="submit">
          <img src="/img/search.png" width="23px" alt="submit" />
        </button>
      </form>
    </div>
    <div class="clear"></div>
    <div class="content">
      <div class="sortButton">
        <a href="/result?order=price&d=desc">價格排序高至低</a>
        <a href="/result?order=price&d=asc">價格排序低至高</a>
        <a href="/result?order=name&d=asc">商品名稱排序</a>
      </div>     
      <ul class="productType">
        <li><a href="/result?type=shirt">上衣<img src="/img/shirt.png"></a></li>
        <li><a href="/result?type=pants">褲子<img src="/img/pants.png"></a></li>
        <li><a href="/result?type=skirt">裙子<img src="/img/skirt.png"></a></li>
        <li><a href="/result?type=coat">外套<img src="/img/coat.png"></a></li>
        <li><a href="/result?type=shoes">鞋子<img src="/img/shoes.png"></a></li>
      </ul>
      <ul class="productList">
        <% for(var i = 0; i < data.length; i++){ %>
          <li>
            <a href="/detail?id=<%- id[i] %>"><img src="<%- data[i].image %>"></a>
            <img class="addFavoriteHeart" src="/img/heart1.png" style="width: 25px;">
            <p><%- data[i].name %></p>
            <p>NT$<%- data[i].price %></p>
            <!-- 按下後變heart2.png --> 
          </li>
        <% } %>
      </ul>
    </div>
    <div class="clear"></div>
  </body>
</html>
