<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="/"><h1>Lativ</h1></a>
      <input type="hidden" class="islogin" name="islogin" value="<%- islogin %>">
      <input type="hidden" class="ismanager" name="ismanager" value="<%- ismanager %>">
      <ul class="menu">
        <li><a href="/"><img src="/img/home.png" style="width:15px;">
          首頁</a></li>
        <li class="menuManage"><a href="/manage">
          <img src="/img/manage.png" style="width:15px;">新增商品</a></li> 
        <li class="menuLogin"><a href="/login" style="border-right: none;padding-right: 5px;">
          <img src="/img/login.png" style="width:15px;">登入</a>/
          <a href="/signup" style="border-right: none;padding-left: 5px;">註冊</a></li> 
        <li class="menuFavorite"><a href="/favorite">
          <img src="/img/favorite.png" style="width:15px;">我的最愛</a></li> 
        <li class="menuLogout"><a href="/logout" style="border-right: none;">
          <img src="/img/login.png" style="width:15px;">登出</a></li>
      </ul>      
      <form action="/result" method="POST">
        <input type="text" placeholder="請輸入關鍵字" name="keyword">
        <button type="submit" style="outline: none;">
          <img src="/img/search.png" width="23px" alt="submit" />
        </button>
      </form>
    </div>
    <div class="clear"></div>
    <div class="content">
      <div class="sortButton">
        <a href="/result?order=price&d=desc">價格排序高至低</a>
        <a href="/result?order=price&d=asc">價格排序低至高</a>
        <a href="/result?order=name&d=asc">商品名稱排序</a>
      </div>     
      <ul class="productType">
        <li><a href="/result?type=shirt">上衣<img src="/img/shirt.png"></a></li>
        <li><a href="/result?type=pants">褲子<img src="/img/pants.png"></a></li>
        <li><a href="/result?type=skirt">裙子<img src="/img/skirt.png"></a></li>
        <li><a href="/result?type=coat">外套<img src="/img/coat.png"></a></li>
        <li><a href="/result?type=shoes">鞋子<img src="/img/shoes.png"></a></li>
      </ul>
      <ul class="productList">
        <% for(var i = 0; i < data.length; i++){ %>
          <li>
            <a href="/detail?id=<%- id[i] %>"><img src="<%- data[i].image %>"></a>
            <input type="hidden" class="id" name="id" value="<%- id[i] %>">
            <input type="hidden" class="name" name="name" value="<%- data[i].name %>">
            <input type="hidden" class="price" name="price" value="<%- data[i].price %>">
            <input type="hidden" class="image" name="image" value="<%- data[i].image %>">
            <img class="addFavoriteHeart" src="/img/heart1.png" width="25px"/>
            <p><%- data[i].name %></p>
            <p>NT$<%- data[i].price %></p>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="clear"></div>
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function() {
    console.log($(".islogin").val());
    console.log($(".ismanager").val());
    if($(".islogin").val() == "true"){
      $(".menuLogin").hide();
      $(".menuFavorite").show();
      $(".menuLogout").show();
    }else{
      $(".menuLogout").hide();
      $(".menuFavorite").hide();
      $(".menuLogin").show();
    }
    if($(".ismanager").val() == "true"){
      $(".menuManage").show();
    }else{
      $(".menuManage").hide();
    }
  });

  $(".addFavoriteHeart").click(function (e) {
    var id = $(this).closest("li").find(".id").val();
    var name = $(this).closest("li").find(".name").val();
    var price = $(this).closest("li").find(".price").val();
    var image = $(this).closest("li").find(".image").val();
    var data = "id="+id+"&name="+name+"&price="+price+"&image="+image;
    let xhr = new XMLHttpRequest();
    xhr.open("post","/addFavorite?"+data);
    xhr.send();

    xhr.onload = function(){
      var response = JSON.parse(xhr.responseText);
      if(response.result == 'success'){
        alert("新增成功");
      }else if(response.result == 'repeat'){
        alert("該商品已存在於最愛清單中，不可重複加入");
      }else if(response.result == 'login'){
        alert("請先登入");
      }else{
        alert("新增失敗:" + response.result);
      }
    }
  });
</script>